logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
.g8
.gradle
gradle
gradlew
documents
terraform/.terraform
terraform/terraform.tfstate
terraform/terraform.tfstate.backup

